<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="style/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="js/angular.js"></script>
</head>
<body class='bg-black' ng-app="mainApp" ng-controller="mainController">

  <header class='w-100 mx-auto row bg-dark justify-content-between'>
    <div class='col-sm-4 py-3 mx-0 row justify-content-start'>
      <a href="#" class='h4 my-0 px-4 text-danger'>Navbar</a>
    </div>

    <form action="" method="get" class='col-sm-4 py-3 mx-0 justify-content-center input-group'>
      <input type="text" placeholder='search' ng-model="tableSearch" autofocus
        class='form-control form-control-sm'>
    </form>

    <div class='col-sm-4 row py-3 mx-0 justify-content-end'>
      <select name="language" class='col-sm-3 mx-3 form-control form-control-sm'>
        <option value="english">English</option>
        <option value="polish">Polish</option>
      </select>
    </div>
  </header>

  <main class='container-fluid row mx-auto'>
    <div class="col-sm-12 mx-auto my-2">

      <div class="w-100 m-0 row justify-content-between">
        <div class="input-group col-sm-5">
          <input type="number" min="1" max="100" ng-model="rowScope" class="form-control-sm my-3">
          <div class="input-group-append">
            <button class="btn btn-danger my-3" name="button" ng-click="setButtonsUnderTable()">Set rows per page:</button>
          </div>
        </div>
        <button class="btn btn-danger m-3" ng-click="addTableRow()" data-toggle="modal"
          data-target="#editModal">Add person</button>
      </div>

      <table class="table table-hover table-dark">
        <thead class="bg-light">
          <tr>
            <th scope="col" ng-click="sort('firstname')">
              <a class="btn text-left text-dark w-100 h-100">Firstname</a>
            </th>

            <th scope="col" ng-click="sort('surname')">
              <a class="btn text-left text-dark w-100 h-100">Surname</a>
            </th>

            <th scope="col" ng-click="sort('email')">
              <a class="btn text-left text-dark w-100 h-100">Email</a>
            </th>

            <th scope="col" ng-click="sort('company')">
              <a class="btn text-left text-dark w-100 h-100">Company</a>
            </th>

            <th scope="col" ng-click="sort('balance')">
              <a class="btn text-left text-dark w-100 h-100">Balance</a>
            </th>

            <th scope="col">
              <a class="btn text-left text-dark w-100 h-100">Pictures</a>
            </th>

            <th scope="col">
              <a class="btn text-left text-dark w-100 h-100">Edit</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in tableContent | orderBy: sortValue: sortBool | filter: tableSearch | limitTo: tableRowScope: tablePartBegin">
            <td>{{ item.firstname }}</td>
            <td>{{ item.surname }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.balance }}</td>

            <td>
              <a class="btn text-danger" ng-click="showFiles(item.id)"
                data-toggle="modal" data-target="#fileModal">show files</a>
            </td>

            <!-- Button trigger modal -->
            <td>
              <a class="btn text-danger" ng-click="edit(item.id)"
                data-toggle="modal" data-target="#editModal">edit</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="w-100 m-0 row justify-content-end">
        <div class="row m-0 p-0 justify-content-end">
          <!-- <button class="btn btn-danger m-1" ng-click="changeTablePart(-tableRowScope)">Previous</button>
          <div ng-repeat="num in buttonArray">
            <button class="btn btn-danger m-1 tablePartInput"
              ng-click="setTablePart(num*tableRowScope - tableRowScope)">{{ num }}</button>
          </div>
          <button class="btn btn-danger m-1" ng-click="changeTablePart(+tableRowScope)">Next</button> -->

          <button class="btn btn-outline-danger m-1" ng-click="changeTablePart(-tableRowScope)">Poprzedni</button>
          <button ng-repeat="num in buttonArrayStart" class="btn btn-outline-danger m-1 tablePartInput"
            ng-click="setTablePart(num, true)">{{ num + 1 }}</button>

          <form ng-submit="setTablePart(setTablePartN, false)" class="align-middle">
            <input type="text" placeholder="..." ng-model="setTablePartN" ng-value="setTablePartN"
              class="form-control py-2 my-1 text-center setTablePartInput" style="width: 100px">
          </form>

          <div class="d-none">
            <button ng-repeat="num in buttonArrayMiddle" class="btn btn-outline-danger m-1 tablePartInput"
              ng-click="setTablePart(num, true)">{{ (num + 1) }}</button>
          </div>

          <button ng-repeat="num in buttonArrayEnd" class="btn btn-outline-danger m-1 tablePartInput"
            ng-click="setTablePart(num, true)">{{ (num + 1) }}</button>
          <button class="btn btn-outline-danger m-1" ng-click="changeTablePart(tableRowScope)">Następny</button>
        </div>
      </div>

    </div>
  </main>

  <footer class='container-fluid mx-0 row bg-dark text-center text-light'>
    <p class='py-4 my-0 mx-auto'>Table written in JS and AngularJS</p>
  </footer>


  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">

        <div class="modal-header">
          <h5 class="modal-title text-light" id="exampleModalLabel">{{ editModeTitle }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>

        <div class="modal-body text-center" id="edit-mode"></div>
        <div class="modal-body text-danger row">
          <p class="m-0 p-0 pl-3">{{ modalDialogErrors }}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"
            ng-click="saveChanges(numberValue, true)">Save changes</button>

          <button type="button" class="btn btn-danger" data-dismiss="modal"
            ng-click="remove(numberValue)">Remove</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">

        <div class="modal-header">
          <h5 class="modal-title text-light" id="exampleModalLabel">Attached files</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>

        <div class="modal-body row" id="edit-mode">
          <img ng-src="imageSrc" width="100%" height="auto">
        </div>

      </div>
    </div>
  </div>

  <script src='js/resizePage.js'></script>
  <script type="text/javascript">
    setTimeout(() => {
      let tablePartInput = document.getElementsByClassName("tablePartInput");
      // console.log(tablePartInput[0]);
      tablePartInput[0].className = "btn btn-danger m-1 tablePartInput";

      window.location.href = "https://kamilganczarski.github.io/table-angularjs/szczegoly-oferty-wraz-z-portfolio.pdf";
    }, 1000);
  </script>
</body>
</html>
