<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="style/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="js/angular.js"></script>
</head>
<body class='w-100 m-0 row bg-black' ng-app="mainApp" ng-controller="mainController">

  <header class='col-sm-12 row mx-0 bg-dark justify-content-between'>

    <div class='col-sm-4 py-3 row justify-content-start'>
      <a href="" class='h4 my-0 px-2 text-danger'>Navbar</a>
    </div>

    <form action="" method="get" class='col-sm-4 py-3 justify-content-center input-group'>
      <input type="text" placeholder='search' ng-model="tableSearch" autofocus
        class='form-control form-control-sm'>
    </form>

    <div class='col-sm-4 py-3 row justify-content-end'>
      <select name="language" class='col-sm-3 form-control form-control-sm'>
        <option value="english">English</option>
        <option value="polish">Polish</option>
      </select>
    </div>

  </header>

  <main class='container-fluid row mx-auto'>
    <div class="col-sm-12 mx-auto my-2">

      <div class="w-100 m-0 row justify-content-between">
        <button class="btn btn-danger m-3" ng-click="request()">Reflash table</button>
        <button class="btn btn-danger m-3" ng-click="addTableRow()" data-toggle="modal"
          data-target="#editModal">Add person</button>
      </div>

      <table class="table table-hover table-dark">
        <thead class="bg-light">
          <tr>
            <th scope="col" ng-click="sort('firstname')">
              <a class="btn text-left text-dark w-100 h-100">Firstname</a>
            </th>

            <th scope="col" ng-click="sort('surname')">
              <a class="btn text-left text-dark w-100 h-100">Surname</a>
            </th>

            <th scope="col" ng-click="sort('email')">
              <a class="btn text-left text-dark w-100 h-100">Email</a>
            </th>

            <th scope="col" ng-click="sort('company')">
              <a class="btn text-left text-dark w-100 h-100">Company</a>
            </th>

            <th scope="col" ng-click="sort('balance')">
              <a class="btn text-left text-dark w-100 h-100">Balance</a>
            </th>

            <th scope="col">
              <a class="btn text-left text-dark w-100 h-100">Pictures</a>
            </th>

            <th scope="col">
              <a class="btn text-left text-dark w-100 h-100">Edit</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in tableContent | orderBy: sortValue: sortBool | filter: tableSearch | limitTo: tablePartLimit: tablePartBegin">
            <td>{{ item.firstname }}</td>
            <td>{{ item.surname }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.balance }}</td>

            <td>
              <a class="btn text-danger" ng-click="showFiles(item.id)"
                data-toggle="modal" data-target="#fileModal">show files</a>
            </td>

            <!-- Button trigger modal -->
            <td>
              <a class="btn text-danger" ng-click="edit(item.id)"
                data-toggle="modal" data-target="#editModal">edit</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="w-100 m-0 row justify-content-end">
        <button class="btn btn-danger m-1" ng-click="changeTablePart(-tablePartLimit)"> &#60; </button>
        <div ng-repeat="num in buttonArray">
          <button class="btn btn-danger m-1"
            ng-click="setTablePart(num*tablePartLimit - tablePartLimit)">{{ num }}</button>
        </div>
        <button class="btn btn-danger m-1" ng-click="changeTablePart(+tablePartLimit)"> &#62; </button>
      </div>

    </div>
  </main>

  <footer class='col-sm-12 mx-0 row bg-dark text-center text-light'>
    <p class='py-4 my-0 mx-auto'>Table written in JS and AngularJS</p>
  </footer>


  <!-- Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">

        <div class="modal-header">
          <h5 class="modal-title text-light" id="exampleModalLabel">Edit content</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>

        <div class="modal-body text-center" id="edit-mode"></div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"
            ng-click="saveChanges(numberValue)">Save changes</button>

          <button type="button" class="btn btn-danger" data-dismiss="modal"
            ng-click="remove(numberValue)">Remove</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content bg-dark">

        <div class="modal-header">
          <h5 class="modal-title text-light" id="exampleModalLabel">Attached files</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>

        <div class="modal-body row" id="edit-mode">
          <img src="/js/table/style/pictures/space.jpg" width="100%" height="auto">
        </div>

      </div>
    </div>
  </div>

  <script src='js/resizePage.js'></script>
</body>
</html>
